{% extends 'base.html' %}
{% block title%} index{% endblock %}
{% block body %}
{% load static %}
<style>
    #Course_title{
        margin: 125px 0px 41px 0px;
}

 
</style>

        <h2 class="h2 section-title " id="Course_title">
            <span class="span">Tutorials</span> for backbencher
          </h2>
        <div class="notes_container">
            {% for card in cards %}
            <div class="notes_card">
                <span class="img-note">
                    <img src="{{ card.image.url }}" alt="{{ card.title }}">
                </span>
                <h3>{{ card.title }}</h3>
                <div class="button-container">
                <a href="{% url 'topic_list' card_id=card.cad_id %}"><button>Explore</button></a>  
                </div>
            </div>
            {% empty %}
            <ul>
                <li>No cards available.</li>
            </ul>
        {% endfor %}
          
        

           
        </div>
{% endblock%}